.navButton {
    margin-left: 1em;
    margin-bottom: .5em;
    width: 165px;
}

.jumbotron {
    margin-bottom: 5em;
}

.btn-primary {
    margin-top: 2em;
}

.banner{
    font:xx-large;
    color:orange;
}
.review{
    font:large;
    margin-bottom:2em;
}
.websig{
    margin-top:5em;
}